<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles.css">

        <title>Thick mist</title>
    </head>
    <body>
        <div class="sample-header">
            <div class="sample-header-section">
              <h1 style="font-weight:lighter;";><a style="color:black" href="/">THICK MIST</a></h1>

            </div>
        </div>
        <div class="story" style="margin-top: 30vh; margin-left: 35%; margin-right: 35%">

            <ul>
                <span style="font-style: italic; ">Thick mist</span> is a minimalistic text based choose your own adventure game. The story starts with you and your friend, Lana, finding yourself in trouble after taking a trip out with Lanas boat. What happens next is up to you. 
            </ul>
        </div>
            <br/>
        <div class="optiondiv" style="margin-top: 10vh; margin-left: 35%; margin-right: 35%">
            <ul>
                <p class="option"> <br/> <a href="story/begin">Begin.</a>
                </p>
            </ul>
        </div>
    </body>
</html>